*{
    margin: auto 0;
    padding: 0;
}
nav > ul > li:first-child{
    font-size: 3rem;
}
nav > ul > li:last-child{
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: 5vw;
}
nav > ul > li:last-child > input,
nav > ul > li:last-child > button{
    padding: 10px 15px;
}
nav > ul > li:last-child > button{
    cursor: pointer;
    width: 10vw;
}
nav > ul > li:last-child > input{
    width: 20vw;
}
nav > ul > li{
    padding: 20px;
}

.nav{
    display: flex;
    list-style: none;
    margin: 0;
    background-color: brown;
    color: white;
}

li > a{
    text-decoration: none;
    color: white;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto;
}
.main-container menu,
.main-container-int menu{
    background-color: darkred;
    height: 100%;
    line-height: 40px;
    padding-top: 10px;
    padding-left: 20px;
}

.main-container menu ul,
.main-container-int menu ul{
    list-style: none;

}
.main-container menu li.atual{
    border-bottom: palegoldenrod 1px solid;
}
.main-container-int{
    display: grid;
    grid-template-columns: 0.65fr 3fr 1fr;
    grid-template-rows: auto;
    /* height: 82vh; */
}
.container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}
.media{
    cursor: pointer;
    padding: 20px;
    margin: 20px;
    border: #333 solid 1px;
}
.media > img,
.media > a > img{
    width: 100%;
}

.media > a{
    text-decoration: none;
    color: black;
}
.media > a:hover{
    color: black;
    font-weight: bolder;
}
article > span{
    background-color: white;
}

footer{
    background-color: darkred;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 2;
}

.video-container{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}
.abaixo-do-video{
    display: flex;
    justify-content: space-between;
}
.desc{
    font-size: 1.5rem;
    margin: 20px 0;
    margin-left: 10px;
}
video{
    width: 100%;
    margin-left: 10px;
}

.sugestoes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}
.sugestoes div {
    margin: 20px 5px;
}
.sugestoes div a{
    align-self: flex-end;
    display: flex;
    justify-content: flex-start;
}
.sugestoes img{
    width: 50%;
}
.sugestoes span{
    margin: 2px 3px;
}
.sugestoes a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.sugestoes a:hover{
    cursor: pointer;
    font-weight: bold;
    border: black double 1px;
}

button:hover{
    cursor: pointer;
}

@media screen and (max-width: 800px){
    .desc{
        font-size: 1.5rem;
    }
    nav > ul > li:first-child{
        font-size: 2rem;
    }
    nav > ul > li:last-child > button{
        cursor: pointer;
        width: 15vw;
    }
    nav > ul > li:last-child > input{
        width: 15vw;
    }
}
@media screen and (max-width: 400px){
    .desc{
        font-size: 1.2rem;
    }
    nav > ul > li:first-child{
        font-size: 1.5rem;
    }
    nav > ul > li:last-child > button{
        display: none;
    }
    nav > ul > li:last-child > input{
        width: 20vw;
    }
    .container{
        grid-template-columns: repeat(auto-fill, 370px);
    }

    video{
        width: 100vw;
    }
}